@using DomainLayer.SortParameters;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DomainLayer.ViewModels.LostAnimalListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Потерянные животные</h1>

<p>
    <a asp-action="Create">Добавить объявление</a>
</p>

<div id="app">
    <div class="row text-left mb-5 align-items-end">
        <div class="col-md-2 mb-3 mb-sm-0">
            <div>
                <label>c:</label>
                <input type="date"
                       v-model="listFilter.periodBegin"
                       placeholder="Input date"
                       class="form-control" />
                <span asp-validation-for="ListFilter.PeriodBegin" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 text-lg-right">
            <div class="d-inline">
                <label>по:</label>
                <input type="date"
                       v-model="listFilter.periodEnd"
                       placeholder="Input date"
                       class="form-control" />
                <span asp-validation-for="ListFilter.PeriodEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <label>Сортировка:</label>
            <select v-model="listFilter.sort" asp-items="@Html.GetEnumSelectList<BaseAdSortParameter>()" class="form-control" data-toggle="select" tabindex="-98">
            </select>
        </div>
        <div class="col-md-2">
            <label>Количество на странице:</label>
            <select v-model="listFilter.itemsCount" asp-items="@Html.GetEnumSelectList<ItemsCountPerPage>()" class="form-control" data-toggle="select" tabindex="-98">
            </select>
        </div>
        <div class="col-md-2">
            <button v-on:click="applyFilter" class="btn btn-primary">Поиск</button>
        </div>
    </div>
    <div id="table-container">
        @await Html.PartialAsync("LostAnimalsListPartial", Model.LostAnimals)
    </div>
</div>

@section Scripts
    {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                listFilter: {
                    periodBegin: '',
                    periodEnd: '',
                    itemsCount: '',
                    sort: '',
                }
            },
            methods: {
                applyFilter() {
                    console.log('Error:', this.listFilter);
                    $.ajax({
                        url: '/LostAnimals/GetAllWithFilter',
                        dataType: "html",
                        type: 'GET',
                        data: this.listFilter,
                        //data: @Html.Raw(Json.Serialize(Model.ListFilter)),
                        success: function (data) {
                            $('#table-container').html(data);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error:', textStatus, errorThrown);
                        }
                    });
                },
            }
        })
    </script>
}